.btn{
    background-color: #5D696A;
    color: #C6C5B9;
}

.navbar{
    background-color: #313130;
}

.tituloi{
    color: #C6C5B9;
}

.nav-link{
    color: #C6C5B9;
}

.body{
    background-color:  #C6C5B9;
}

.foot{
    background-color: #5D696A;
    color: #C6C5B9;
}
